:root {
  --header-bg-color: #333; /* dark gray */
  --text-active-color: #ddd; /* light gray */
  --link-hover-bg-color: #555; /* darker gray */
  --active-link-color: #e1b545; /* bright blue for active links */
}

body {
  background-color: #222; /* Dark background for the whole app */
  color: #ddd; /* Light text color for readability */
}