:root {
  --header-bg-color: #333; /* dark gray */
  --text-active-color: #ddd; /* light gray */
  --link-hover-bg-color: #555; /* darker gray */
  --active-link-color: #e1b545; /* bright blue for active links */
}

body {
  background-color: #222; /* Dark background for the whole app */
  color: #ddd; /* Light text color for readability */
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: var(--active-link-color);
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}