:root {
    --header-bg-color: #ffffff; /* white */
    --text-active-color: #14171A; /* dark gray */
    --link-hover-bg-color: #E1E8ED; /* light blue */
    --active-link-color: #1DA1F2; /* Twitter's brand blue color */
  }